body {
  background-color: #0e2433;
  font-family: FontAwesome;
}

.container {
  width: 80%;
}

.title h1 {
  margin-top: 60px;
  margin-bottom: 20px;
  color: whitesmoke;
}

.title h5 {
  margin-bottom: 70px;
  font-size: 20px;
  color: gainsboro;
  font-weight: lighter;
}

.navbar {
  color: white;
  margin-top: 15px;
}

.nav-left a {
  font-size: 2em;
  color: green;
  border: 0.1em solid black;
  line-height: 1.1em;
  padding: 10px 7px 5px 5px;
  background-color: orange;
}

.nav-right ul,
li {
  list-style: none;
  display: flex;
  flex-wrap: nowrap;
  padding-right: 25px;
}

/* hr { 
  align-self: center;
  color: rgb(247, 243, 243);
}
*/

.mydetails {
  float: left;
  color: gainsboro;
  width: 80%;
}

.row {
  position: relative;
  left: 13px;
}

.profile ul,
li {
  display: flex;
  flex-wrap: nowrap;
  list-style: none;
}

.profile p {
  color: gainsboro;
}

.contact {
  margin-top: 50px;
}

.copyright {
  text-align: center;
}
